<div class="form-table-container">
  <h1>Listado de clientes:</h1>
  <table mat-table class="form-table" [dataSource]="dataSource">
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef>Nombre completo</th>
      <td mat-cell *matCellDef="let element">{{ element.fullName }}</td>
    </ng-container>
    <ng-container matColumnDef="identification">
      <th mat-header-cell *matHeaderCellDef>DNI</th>
      <td mat-cell *matCellDef="let element">{{ element.identification }}</td>
    </ng-container>
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef>Edad</th>
      <td mat-cell *matCellDef="let element">{{ element.age }}</td>
    </ng-container>
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef>Genero</th>
      <td mat-cell *matCellDef="let element">{{ element.gender }}</td>
    </ng-container>
    <ng-container matColumnDef="isActive">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let element">
        {{ element.isActive ? "Activo" : "Inactivo" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="drives">
      <th mat-header-cell *matHeaderCellDef>Maneja</th>
      <td mat-cell *matCellDef="let element">
        {{ element.drives ? "Si" : "No" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="usesGlasses">
      <th mat-header-cell *matHeaderCellDef>Anteojos</th>
      <td mat-cell *matCellDef="let element">
        {{ element.usesGlasses ? "Si" : "No" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="isDiabetic">
      <th mat-header-cell *matHeaderCellDef>Diabetico</th>
      <td mat-cell *matCellDef="let element">
        {{ element.isDiabetic ? "Si" : "No" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="otherDiseases">
      <th mat-header-cell *matHeaderCellDef>Enfermedades</th>
      <td mat-cell *matCellDef="let element">{{ element.otherDiseases }}</td>
    </ng-container>
    <ng-container matColumnDef="aditionalData">
      <th mat-header-cell *matHeaderCellDef>Datos adicionales</th>
      <td mat-cell *matCellDef="let element">{{ element.aditionalData }}</td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Editar</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="editarPersona(element)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Eliminar</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          color="warn"
          (click)="confirmarEliminar(element)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
